@font-face {
    font-family: "LydianW01-Cursive";
    src: url("//db.onlinewebfonts.com/t/8c559c4f7914248f25c9285afc7313cc.eot");
    src: url("//db.onlinewebfonts.com/t/8c559c4f7914248f25c9285afc7313cc.eot?#iefix")
            format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/8c559c4f7914248f25c9285afc7313cc.woff2")
            format("woff2"),
        url("//db.onlinewebfonts.com/t/8c559c4f7914248f25c9285afc7313cc.woff")
            format("woff"),
        url("//db.onlinewebfonts.com/t/8c559c4f7914248f25c9285afc7313cc.ttf")
            format("truetype"),
        url("//db.onlinewebfonts.com/t/8c559c4f7914248f25c9285afc7313cc.svg#LydianW01-Cursive")
            format("svg");
}

@font-face {
    font-family: "T-Star Mono";
    src: url("//db.onlinewebfonts.com/t/9426075a8404e5f53fe090cd62258945.eot");
    src: url("//db.onlinewebfonts.com/t/9426075a8404e5f53fe090cd62258945.eot?#iefix")
            format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/9426075a8404e5f53fe090cd62258945.woff2")
            format("woff2"),
        url("//db.onlinewebfonts.com/t/9426075a8404e5f53fe090cd62258945.woff")
            format("woff"),
        url("//db.onlinewebfonts.com/t/9426075a8404e5f53fe090cd62258945.ttf")
            format("truetype"),
        url("//db.onlinewebfonts.com/t/9426075a8404e5f53fe090cd62258945.svg#T-Star Mono")
            format("svg");
}
html {
    background-color: #10784f;
}
body {
    font-family: "Helvetica";
    color: #ee5f6a;
}

a {
    padding: 4px;
    text-transform: uppercase;
    font-weight: 700;
}
a:link {
    color: #ee5f6a;
}

a:visited {
    color: #ee5f6a;
}

a:hover {
    color: #f16e70;
    border: 1px solid #f16e70;
}

a:active {
    color: #f16e70;
    border: 1px solid #f16e70;
}

.right,
.left,
.center {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

.chromatica {
    max-width: 55%;
    height: auto;
}

.lg {
    font-family: "LydianW01-Cursive";
}
.six {
    font-family: "T-Star Mono";
}

h2 {
    font-family: "LydianW01-Cursive";
    font-size: 2.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 800px;
    }

    .right {
        text-align: right;
    }
    .right h2 {
        background-repeat: no-repeat, no-repeat;
        background-size: 14%, 30%;
        background-position: 0 center, 75px center;
    }
    .left {
        text-align: left;
    }
    .left h2 {
        background-repeat: no-repeat, no-repeat;
        background-size: 14%, 30%;
        background-position: right, 200px center;
    }
    .bk-1 {
        background-image: url("/img/logoPink.png"), url("/img/background1.jpg");
    }
    .bk-2 {
        background-image: url("/img/logoPink.png"), url("/img/background2.jpg");
    }
    .bk-3 {
        background-image: url("/img/logoPink.png"), url("/img/background3.jpg");
    }
    .bk-4 {
        background-image: url("/img/logoPink.png"), url("/img/background4.jpg");
    }
}

footer {
    margin-top: 50px;
    color: #b0b9b4;
    font-family: "T-Star Mono";
}

footer a {
    padding: 4px;
    text-transform: uppercase;
    font-weight: 700;
}

footer a:link {
    color: #2aa373;
}

footer a:visited {
    color: #2aa373;
}

footer a:hover {
    color: #166948;
    border: none;
}

footer a:active {
    color: #166948;
    border: none;
}

.footer-symbols {
    filter: invert(83%) sepia(10%) saturate(148%) hue-rotate(94deg)
        brightness(89%) contrast(86%);
    max-width: 5%;
    height: auto;
}
